<%-include("../partials/head.ejs" , {title: 'Detalle de Productos - El Closet de Brujua'})%>

<body>

  <%-include("../partials/header.ejs")%>
  
  <main>

    <section id="detail-container">

      <h1 class="title-detail">Detalle de:<span class="detail-h1"><%= producto.nombre %></span> </h1>
        
      <article class="detail-cards-container">
          <div class="detail-card">
            <div class="detail-card-info">
              <img src="/public/images/<%= producto.img %>">
              <p class="descripcion-detallada"><%= producto.descripcionDetallada %></p>
              <div class="detail-iteracion">
              <% for (const key in producto) { %>
                <% if (key === 'id' || key === 'descripcionDetallada' || key === 'img') { %>
                  <%  console.log(!key); %>    
              <%  } else { %>
                <p class="detail-key-style"><%= key %>:</p><p class="detail-value-style"><%= producto[key] %></p>
                <% } %>
            <% } %>
            </div>
            <div class="detail-btn-container">
              <button id="add-cart">Agregar al Carrito</button>
            </div>
          

            </div>
          </div>
  
      </article>

        <div class="cart-summary">
          <button id="see-cart">Ver Carrito</button>
      </div> 


    </section>



  </main>

  <%-include("../partials/footer.ejs")%>
  
</body>
</html>
