<%-include("../partials/head.ejs" , {title: 'Detalle de Productos - El Closet de Brujua'})%>

<body>

  <%-include("../partials/header.ejs")%>
  
  <main>
    <section id="detail-container">
      <h1 class="title-detail">Detalle de:<span class="detail-h1"><%= product.nameProduct %></span> </h1>
      <article class="detail-cards-container">
          <div class="detail-card">
            <div class="detail-card-info">
              <img src="/images/productos/<%= product.img %>">
              <p class="descripcion-detallada"><%= product.detailedDescription %></p>

              <div class="detail-iteracion">
                <% for (const key in product) { %>
                  <% if (key === 'id' || key === 'detailedDescription || key === 'img') { %>
                    <%  console.log(!key); %>    
                  <%} else {%>
                      <p class="detail-key-style"><%= key %>:</p><p class="detail-value-style"><%= product[key] %></p>
                <% } %>
              <% } %>
              </div>

              <%-include("../partials/addCart.ejs")%>

            </div>
          </div>
      </article>

      <div class="cart-summary">
          <button id="seeCart">Ver Carrito</button>
      </div> 

    </section>
  </main>

  <%-include("../partials/footer.ejs")%>

</body>
</html>
