<%-include("../partials/head.ejs" , {title: 'Detalle de Productos - El Closet de Brujua'})%>

<body>

  <%-include("../partials/header.ejs")%>
  
  <main>
    <section id="detail-container">
      <h1 class="title-detail"><span class="detail-h1"><%= productDetail.nameProduct %></span> </h1>
      <article class="detail-cards-container">
          <div class="products-card">
            <div class="detail-card-info">
              <img src="/images/productos/<%= productDetail.images[0].file %>">
              <p class="descripcion-detallada"><%= productDetail.detailedDescription %></p>

              <div class="detail-card-info">
                  <p class="detail-key-style">Material: <span class="detail-value-style"><%= productDetail.stuff %></span></p>
                  <p class="detail-key-style">Categoría: <span class="detail-value-style"><%= productDetail.category.name %></span></p>

              </div>

              <%-include("../partials/addCart.ejs")%>

            </div>
          </div>
      </article>

      <div class="cart-summary">
          <button class="see-cart" id="seeCart">Ver Carrito</button>
      </div> 

    </section>
  </main>

  <%-include("../partials/footer.ejs")%>

</body>
</html>
