<%-include("../partials/head.ejs", {title: "Gestión de productos"})%> 

<body class="body-admin">

   <%- include('../partials/headerAdmin.ejs') %>

   <div class="productsAdmin-title">
      <div class="productsAdmin-title-plus">
         <h1 class="title-admin">Listado de Productos</h1>
         <a href="/products/add" class="add-admin-product"><i class="fa-solid fa-plus"></i></a>
      </div>

   </div>
   

   <div class="admin-tables-container">
      <table class="product-table" id="productsTable">
         <thead>
               <tr>
                  <th>Imagen</th>
                  <th>ID</th>
                  <th>Nombre Producto</th>
                  <th>Descripcion</th>
                  <th>Categoría</th>
                  <th>Talle</th>
                  <th>Precio</th>
                  <th>Sección</th>
                  <th>Delete</th>
                  <th>Edit</th>
               </tr>
         </thead>

         <tbody>
               <% productosCloset.forEach(product => { %>
               <tr>
                  <td>
                     <img height="100px" src="/images/productos/<%= product.images[0].file %>" alt="">
                  </td>
                  <td><%= product.id %></td>
                  <td><%= product.nameProduct %></td>
                  <td><%= product.description %></td>
                  <td><%= product.category.name %></td>
                  <td><%= product.size %></td>
                  <td>$<span class="total-price"><%= product.price %></span></td>
                  <td><%= product.section.name %></td>
                  <td>
                     <a href="#"><i class="fa-solid fa-trash-can" class="eliminar-icon" onclick="confirmarEliminar(this)"></i></a></td>
                  <td>
                     <a href="/products/edit/<%= product.id %>" id="editIcon"><i class="fa-solid fa-pen-to-square"></i></a>
                  </td>
               </tr>
               <%  }); %>
         </tbody>
      </table>
   </div>

      <script>
            // Eliminar producto del Listado

            function confirmarEliminar(icon) {

               const confirmar = confirm("¿Estás seguro de que deseas eliminar este producto?");

               if (confirmar) {                                                          // Si el usuario confirma, eliminar el producto
                  // Encuentra la fila completa (<tr>) desde el icono o botón clicado
                  const row = icon.closest('tr');
                  
                  if (row) {
                        row.remove(); // Elimina la fila de la tabla
                        alert("Producto eliminado exitosamente.");
                  } else {
                        alert("No se pudo encontrar la fila del producto.");
                  }
               } else {
                  alert("Operación cancelada.");
               }
            }
      </script>
</body>

</html>