<%- include('../partials/head.ejs', {title: "Lista de Productos - El Closet de Brujua"}) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <section class="products-container">

            <h2 class="title-products">Productos</h2>

            <article class="products-cards-container">

                <!--modificar al primera linea del foreach, cuando éste definido "categorías":
                        if (locals.productos) {}    (si existe producto, iterar...)-->
                    <% productosCloset.forEach(product => { %>
                        <div class="products-card" id="productsCard">
                        <div class="product-card-info">

                            <a href="/products/<%= product.id %>/productDetail">
                                <img src="/images/productos/<%= product.images[0].name %>"  alt="foto '<%= product.nameProduct %>'">
                            </a>
                            <h3 class=".title-products"><%= product.nameProduct %></h3>
                            <p><span class="info">Estado: </span><%= product.condition %></p>
                            <p class="price" id="price">$<%= product.price %></p>

                            <%-include("../partials/addCart.ejs")%>
                        
                        </div>
                    </div>
                    <%  }); %>
            <!--modificar la ultima linea del foreach, cuando éste definido "categorías":
                    })} else { : msg }      
                    (si no existe, mostrar el mensaje, no olvidar etiqueta de impresión ejs. Darle estilo al mensaje)-->


            </article>

            <div class="cart-summary">
                <p>Total: <span id="total-price">$0.00</span></p>
                <button id="finalize-purchase">Finalizar Compra</button>
                <button id="clear-cart">Vaciar Carrito</button>
            </div>

        </section>
        

    </main>

    <%-include("../partials/footer.ejs")%>


</body>
</html>




