<%-include("../partials/head.ejs" , {title: 'Detalle de Productos - El Closet de Brujua'})%>

<body>

  <%-include("../partials/header.ejs")%>
  
  <main>
    <section id="detail-container">
      <h1 class="title-detail">Detalle de:<span class="detail-h1"><%= nameProduct %></span> </h1>
      <article class="detail-cards-container">
          <div class="detail-card">
            <div class="detail-card-info">
              <img src="/images/productos/<%= images[0].name %>">
              <p class="descripcion-detallada"><%= detailedDescription %></p>

              <div class="detail-iteracion">
                
                  <p class="detail-key-style">Material: <span class="detail-value-style"><%= stuff %></span></p>
                  <p class="detail-key-style">Categoría: <span class="detail-value-style"><%= category.name %></span></p>

                  
              </div>

              <%-include("../partials/addCart.ejs")%>

            </div>
          </div>
      </article>

      <div class="cart-summary">
          <button id="seeCart">Ver Carrito</button>
      </div> 

    </section>
  </main>

  <%-include("../partials/footer.ejs")%>

</body>
</html>
