<%-include("../partials/head.ejs")%>

<body>
    <%-include('../partials/header.ejs')%>

    <main>
        <section id="section-register">
            <article class ="register-form-container">
                <h2 class="register-title">Registrarse</h2>

                <form action="/processRegister" method="POST" class="register-form" id="registerForm" novalidate>

                    <!-- Nombre -->
                    <label>
                        <span class="label-text">Nombre</span>
                        <input type="text" name="firstName" class="register-label-input" id="firstName" autocomplete="off">
                        <p class="error-msg"> <!--Error Nombre-->
                            <%= locals.errors && errors.firstName ? errors.firstName.msg : null %>
                        </p>
                    </label>

                    <!-- Apellido -->
                    <label>
                        <span class="label-text">Apellido</span>
                        <input type="text" name="lastName" class="register-label-input" id="lastName" autocomplete="off">
                        <p class="error-msg"> <!--Error Apellido-->
                            <%= locals.errors && errors.lastNameerrors.lastName.msg : null %>
                        </p>
                    </label>

                    <!-- Email -->
                    <label> 
                        <span class="label-text">Email</span>
                        <input type="email" name="email" class="register-label-input" id="email" autocomplete="off">
                        <p class="error-msg"> <!--Error Email-->
                            <%= locals.errors && errors.email ? errors.email.msg : null %>
                        </p>
                    </label>

                    <!-- Contraseña -->
                    <label>
                        <span class="label-text">Contraseña</span>
                        <input type="password" name="password" class="register-label-input" id="password" autocomplete="off">
                        <p class="error-msg"> <!--Error Contraseña-->
                            <%= locals.errors && errors.password ? errors.password.msg : null %>
                        </p>
                    </label>

                    <!-- Confirmación Contraseña -->
                    <label>
                        <span class="label-text">Confirmar contraseña</span>
                        <input type="password" name="confirmPassword" class="register-label-input" id="confirmPassword" autocomplete="off">
                        <p class="error-msg"> <!--Error Confirmar Contraseña-->
                            <%= locals.errors && errors.confirmPassword ? errors.confirmPassword.msg : null %>
                        </p>
                    </label>

                    <!-- Imagen de perfil -->
                    <label>
                        <span class="label-text">Subir imagen</span>
                        <input type="file" id="avatar" name="avatar" class="file-img" accept=".jpg, .jpeg, .png, .gif">
                        <p class="error-msg"> <!--Error Imagen de perfil-->
                            <%= locals.errors && errors.avatar ? errors.avatar.msg : null %>
                        </p>
                    </label>

                    <!-- Aceptar Términos y condiciones -->
                    <label class="register-checkbox">
                        <input type="checkbox" class="checkbox-input" name="newsletter">
                        <span>He leído y acepto Términos y Condiciones</span>
                        <p class="error-msg"> <!--Error Términos y condiciones-->
                            <%= locals.errors && errors.newsletter ? errors.newsletter.msg : null %>
                        </p>
                    </label>
                    
                    <div class="register-btn-container"> 
                        <button type="submit">Enviar</button>
                        <button type="reset">Borrar</button>
                    </div>

                    <div class="register-a-login-container">
                        <p>¿Ya tenés cuenta?</p>
                        <a href="/users/login">Iniciar sesión</a>
                    </div>
                    
        
                </form>
            </article>
        </section>
    </main>

    <%-include("../partials/footer.ejs")%>


    <script>
        document.addEventListener("DOMContentLoaded", function () {

            // elementos
            const registerForm = document.getElementById("registerForm");
            const firstName = document.getElementById("firstName");
            const lastName = document.getElementById("lastName");
            const email = document.getElementById("email");
            const password = document.getElementById("password");
            const confirmPassword = document.getElementById("confirmPassword");
            const registerImg = document.getElementById("registerImg");

            const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
            
            // funciones
            function validateFirstName() {
                const errorMsg = document.getElementsByClassName("error-msg")[0];

                if (firstName.value.trim() === "") {
                    errorMsg.textContent = "El nombre es obligatorio";
                    return false;
                } else if (firstName.value.trim().length < 2) {
                    errorMsg.textContent = "El nombre debe tener al menos 2 caracteres";
                    return false;
                } else {
                    firstName.nextElementSibling.textContent = "";
                    return true;
                }
            }

            function validateLastName() {
                const errorMsg = document.getElementsByClassName("error-msg")[1];

                if (lastName.value.trim() === "") {
                    errorMsg.textContent = "El apellido es obligatorio";
                    return false;
                } else if (lastName.value.trim().length < 5) {
                    errorMsg.textContent = "El apellido debe tener al menos 5 caracteres";
                    return false;
                } else {
                    lastName.nextElementSibling.textContent = "";
                    return true;
                }
            }

            function validateEmail() {
                const errorMsg = document.getElementsByClassName("error-msg")[2];
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                if (email.value.trim() === "") {
                    errorMsg.textContent = "El email es obligatorio";
                    return false;
                } else if (!emailRegex.test(email.value)) {
                    errorMsg.textContent = "El email no es válido";
                    return false;
                } else {
                    email.nextElementSibling.textContent = "";
                    return true;
                }
            }

            function validatePassword() {
                const errorMsg = document.getElementsByClassName("error-msg")[3];
                const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;

                if (password.value.trim() === "") {
                    errorMsg.textContent = "La contraseña es obligatoria";
                    return false;
                } else if (!passwordRegex.test(password.value.trim())) {
                    errorMsg.textContent = "La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número";
                    return false;
                } else {
                    password.nextElementSibling.textContent = "";
                    return true;
                }
            }

            function validateConfirmPassword() {
                const errorMsg = document.getElementsByClassName("error-msg")[4];

                if (confirmPassword.value.trim() === "") {
                    errorMsg.textContent = "Confirme su contraseña";
                    return false;
                } else if (confirmPassword.value !== password.value) {
                    errorMsg.textContent = "Las contraseñas no coinciden";
                    return false;
                } else {
                    confirmPassword.nextElementSibling.textContent = "";
                    return true;
                }
            }

            function validateCheckbox() {
                const errorMsg = document.getElementsByClassName("error-msg")[5];
                const checkbox = document.querySelector(".checkbox-input");

                if (!checkbox.checked) {
                    errorMsg.textContent = "Debes aceptar los términos y condiciones";
                    return false;
                } else {
                    checkbox.nextElementSibling.textContent = "";
                    return true;
                }
            }
            
            function validateImg() {
                const errorMsg = document.getElementsByClassName("error-msg")[6];

                if (registerImg.files.length === 0) {
                    errorMsg.textContent = "Debes subir una imagen";
                    return false;
                } else if (!allowedExtensions.test(registerImg.value)) {
                    errorMsg.textContent = "Formato de imagen inválido. Solo se permiten .jpg, .jpeg, .png y .gif";
                    return false;
                } else {
                    registerImg.nextElementSibling.textContent = "";
                    return true;
                }
            }

        // validación al enviar el formulario
        registerForm.addEventListener("submit", function (e) {
                const isRegisterFormValid = 
                    validatefirstName() &&
                    validateLastName() &&
                    validateEmail() &&
                    validatePassword() &&
                    validateConfirmPassword() &&
                    validateImg() &&
                    validateCheckbox()

                if (!isRegisterFormValid) {
                    e.preventDefault();
                    alert("Por favor, complete todos los campos correctamente para registrarse.");
                }
            });
        });



































































    
    </script>

</body>
