<%- include('../partials/head.ejs', {title: "Administración de Usuarios"}) %>


	<body class="body-admin">

		<%- include('../partials/headerAdmin.ejs') %>

		<h1 class="title-table"> <%= title %> </h1>

			<div class="admin-tables-container">

				<table class="user-table" id="usersTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Validado</th>
							<th>Bloquear</th>
							<th>Rol</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<% usersCloset.forEach(({id, firstName, lastName, email, validate, lock, rolId})=> { %>
						<tr>
							<td><%= id %></td>
							<td><%= firstName %></td>
							<td><%= lastName %></td>
							<td><%= email %></td>
							<td>
								<label for="user-check">
									<input type="checkbox" class="validado" id="userValidate<%= id %>"
									autocomplete="off" <%= validate && 'checked' %>>
								</label>
							</td>
							<td>
								<label for="user-lock">
									<input type="checkbox" class="bloquear" id="userLock<%= id %>"
									autocomplete="off" <%= lock && 'checked' %>>
								</label>
							</td>
							<td><%= rolId %></td>
							<td>
                        <a href="#">
										<i class="fa-solid fa-trash-can" class="eliminar-icon" onclick="userDelete(this)"></i>
								</a>
								<a href="#" id="editIcon">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
	</body>
</html>



